/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Fira Sans', 'Arial', 'Verdana', sans-serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
  font-family: 'Cormorant Garamond', 'Georgia', 'Baskerville', serif;
  font-size: 170%;
  margin: 0;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas:
    "header header header header"
    "pairing pairing arial georgia"
    "bobwhite-quail readability readability readability"
    "bobwhite-quail line-length line-length line-length"
    "typeface typeface typeface helvetica"
    "footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    text-align: center;
    padding: 1.2rem;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 2.5rem;
    margin: 0;
    font-size: small;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 2.5rem;
    margin: 0;
    font-size: small;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1.5em;
    margin: 0;
    font-size: 120%;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2.5em;
    font-size: small;
    align-items: center;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1.5rem;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    margin: 0;
    padding: 1rem;
    font-size: small;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    text-shadow: 1px 1px #000;
    padding: 1.5em;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    padding: 1%;
    text-align: center;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */

@media screen and (max-width:900px) {
 #container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9,auto);
    grid-template-areas:
    "header header"
    "arial georgia"
    "pairing pairing"
    "bobwhite-quail bobwhite-quail"
    "readability readability "
    "line-length line-length"
    "helvetica helvetica"
    "typeface typeface"
    "footer footer";

}

header {
    padding: 1.2rem;
}

header img {
  display: none;
}
#arial {
    padding: 2rem;
}
#georgia {
    padding: 2rem;
}
#pairing {
    padding-top: .4rem;
}
#bobwhite-quail {
  padding-bottom: .5rem;
}

}
#typeface {
    padding: 1em;
}
footer {
    padding: .4em;
}

}
